
.container-rodape-formulario {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: right;
    width: 100%;
    bottom:1rem;
    padding: 0.5rem 1rem;
}

.container-btn-voltar-proxima {
    display: flex;
    gap: 1rem;
}

.btn-voltar,
.btn-proxima {
    padding: 1rem 3rem;
    background-color: #08CC8B;
    color: #D6FFF1;
    transition: 0.3s;
    border-radius: 1rem;
    border: none;
    width: 17rem;
    font-size: 1rem;
    font-weight: 500;
    line-height: 22px;
}

    .btn-voltar:hover,
    .btn-proxima:hover {
        transition: 0.3s;
    }



::deep.container-loading {
    width: 80px;
    height: inherit;
}
