.page {
    background-color: var(--background-1);
}

.content {
    margin: 0 auto;
}

.sidebar {
    display: flex;
    flex-direction: column;
    width: 256px;
    height: 100%;
    padding: 1rem;
    position: absolute;
    z-index: 1001;
    pointer-events:none;
}

.route-debug-button {
    color: var(--text-900);
    background:none;
    position:sticky;
    padding: 0.5rem;
    outline:none;
    border:none;
    top:0;
}

.sidebar__links {
    position: sticky;
    top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.15rem;
    background-color: rgba(0,0,0, 0.05);
    border-radius: 0.5rem;
    padding: 1rem;
    width: 100%;
}

.sidebar__links > a, button {
    pointer-events: all;
}

h1 {
    color: var(--text-900);
    font-size: 1rem;
}

a {
    color: var(--text-900);
}

main {
    min-height: 100vh;
    height: 100%;
    position: relative;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }
