<header-component></header-component>
<div class="register--container">
    <div class="register--content">
        <h1>Cadastro de livro</h1>
        <div class="register-form">
            <form class="form-container" (ngSubmit)="createLivro()">
                <div class="book-title">
                    <label for="title">Título</label>
                    <input [(ngModel)]="titulo" name="title" type="text" placeholder="Nome do livro" />
                </div>

                <div class="book-author">
                    <label for="author">Autor</label>
                    <select (change)="setAutorId($event)">
                        <option value="">Selecione um autor</option>
                        <option *ngFor="let autor of autores" [value]="autor.id">{{ autor.nome }}</option>
                        <option value="-1">Nenhum autor cadastrado</option>
                    </select>
                    <div class="selecteds">
                        <span *ngFor="let autor of selectedAutores">
                            {{ autor.nome }}
                            <button type="button" (click)="removeAutor(autor)">🗑️</button>
                        </span>
                    </div>
                    <button type="button" (click)="addAutor()">+ Adicionar mais autores</button>
                </div>

                <div class="book-subject">
                    <label for="subject">Assunto</label>
                    <select (change)="setAssuntoId($event)">
                        <option value="">Selecione um assunto</option>
                        <option *ngFor="let assunto of assuntos" [value]="assunto.id">{{ assunto.descricao }}</option>
                        <option value="-1">Nenhum assunto cadastrado</option>
                    </select>
                    <div class="selecteds">
                        <span *ngFor="let assunto of selectedAssuntos">
                            {{ assunto.descricao }}
                            <button type="button" (click)="removeAssunto(assunto)">🗑️</button>
                        </span>
                    </div>
                    <button type="button" (click)="addAssunto()">+ Adicionar mais assuntos</button>
                </div>

                <div class="book--edition-content">
                    <div class="book-editora">
                        <label for="editora">Editora</label>
                        <input [(ngModel)]="editora" name="editora" id="editora" type="text" placeholder="Nome da editora" />
                    </div>
                    <div class="book-edition">
                        <label for="edition">Edição</label>
                        <input [(ngModel)]="edicao" name="edition" id="edition" type="number" placeholder="1" />
                    </div>
                </div>

                <div class="book--year-content">
                    <div class="book-year">
                        <label for="year">Data de publicação</label>
                        <input [(ngModel)]="anoPublicacao" name="year" id="year" type="number" placeholder="2020" />
                    </div>
                </div>

                <button class="btn" (click)="createLivro()" type="submit">Continuar</button>
            </form>
        </div>
    </div>
</div>
