<header-component></header-component>
<div class="register--container">
    <div class="register--content">
            <h1>Cadastro de livro</h1>
        <div class="regsiter-form">
            <form>
                <label for="title">Titulo</label>
                <input name="title" type="text" placeholder="Nome do livro" />

                <label for="author">Autor</label>
                <input name="author" type="text" placeholder="Nome do autor" />

                <label for="editora">Editora</label>
                <input name="editora" type="text" placeholder="Nome da editora" />

                <label for="edition">Edição</label>
                <input name="edition" type="number" placeholder="1" />

                <label for="year">Data de publica~çao</label>
                <input name="year" type="number" placeholder="2020" />
            </form>
        </div>
    </div>
</div> 
