@using System.Reflection;
@using Core.Application.DTO.Aggregates.CommonAgg.Models;
@using Niu.Nutri.Shared.Blazor.Forms.Modal

@inherits BaseFormPagina

<div class="shadow-overlay">
    <CascadingValue Value=this>
        <CascadingValue Value="this.ModalContext">
            @if (ChildFragment == null)
            {
                <Loading />
            }
            else
            {
                <div class="container-conteudo-pagina">
                    <div class="container-header-pagina-cadastro">
                        @if (!HideHeaderButtons)
                        {
                            <StepsHeaderTitleContainer @ref=this.HeaderLayoutContent />
                        }
                    </div>

                    <div class="container-body-pagina-cadastro">
                        @ChildFragment
                    </div>

                    <div class="container-footer-pagina-cadastro">
                        <StepsNextAndBackButtons HideNavigationButtons=HideNavigationButtons @ref=this.NextAndBackButtonsContainer />
                        <a style="display:none" id="btn_@MyId" href="#modal_@MyId">Abrir Modal</a>
                    </div>
                </div>
            }
            @* @if (EnableRightContainer)
            {
            <div class="container-rightContainer">
            <div class="container-conteudo-rightContainer">
            @RightContainer
            </div>
            </div>
            } *@
        </CascadingValue>
    </CascadingValue>
</div>

@code {

}
