
.container-rodape-formulario {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: right;
    width: 100%;
    padding: 0.5rem 1rem;
}

.container-btn-voltar-proxima {
    display: flex;
    gap: 1rem;
}

.btn-voltar,
.btn-proxima {
    display: flex;
    padding: 0.5rem 3rem;
    background-color: #C22133;
    color: #fff;
    font-weight: 600;
    transition: 0.3s;
}

.btn-voltar:hover,
.btn-proxima:hover {
   background-color: #ae1c36;
   transition: 0.3s;
}



::deep.container-loading{
    width:80px;
    height:inherit;
}