@page "/Diario"

@using Niu.Nutri.Core.Application.DTO.Extensions
@using Niu.Nutri.Livraria.Application.DTO.Aggregates.LivrariaAgg.Requests

<div class="notes-container">
    <AddNoteButton OnAddNote="@AddNote" />
    <NotesGrid Notes="collection" />
</div>

@code {
    List<LivrariaHealthNoteDTO> collection = new List<LivrariaHealthNoteDTO>();

    [Inject] NavigationManager _navigationManager { get; set; } = default!;
    [Inject] HttpClient _httpClient { get; set; } = default!;

    void AddNote()
    {
        // Navegar para a página de adição de nota
        _navigationManager.NavigateTo("/Diario/Adicionar");
    }

    protected override async Task OnInitializedAsync()
    {
        var result = await _httpClient.SearchAsync<LivrariaHealthNoteDTO>();

        if (result.Success)
        {
            collection = result.Data;
            await this.InvokeAsync(this.StateHasChanged);
        }
        else
        {
            // Log de erro, se necessário.
        }

        await base.OnInitializedAsync();
    }
}
