@using Niu.Nutri.Livraria.Application.DTO.Aggregates.LivrariaAgg.Requests
    
<div class="notes-section">
    <div class="notes-grid">
        @foreach (var note in Notes)
        {
            <NoteCard Note="note" />
        }
    </div>
</div>

@code {
    [Parameter]
    public IEnumerable<LivrariaHealthNoteDTO> Notes { get; set; } = Enumerable.Empty<LivrariaHealthNoteDTO>();
}
