.notes-section {
    margin-top: 1.5rem;
}

.notes-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); /* Ajusta o tamanho das colunas */
    gap: .5rem;
    max-width: 100%; 
}