<header-component></header-component>
<router-outlet></router-outlet>

<div class="container--banner"></div>

<div class="books--container">
    <div class="books--container-content">
        <h1>Ofertas do dia</h1>
        <div class="books--item-container">
            <div class="books--item">
                <div class="books--item-img"></div>
                <h2 class="books--item-title">titulo</h2>
                <span class="books--item-editora">editora</span>
                <span class="books--item-author">autor</span>
                <span class="books--item-price">R$ 26,00</span>
            </div>
            <div class="books--item">
                <div class="books--item-img"></div>
                <h2 class="books--item-title">titulo</h2>
                <span class="books--item-editora">editora</span>
                <span class="books--item-author">autor</span>
                <span class="books--item-price">R$ 26,00</span>
            </div>
            <div class="books--item">
                <div class="books--item-img"></div>
                <h2 class="books--item-title">titulo</h2>
                <span class="books--item-editora">editora</span>
                <span class="books--item-author">autor</span>
                <span class="books--item-price">R$ 26,00</span>
            </div>
            <div class="books--item">
                <div class="books--item-img"></div>
                <h2 class="books--item-title">titulo</h2>
                <span class="books--item-editora">editora</span>
                <span class="books--item-author">autor</span>
                <span class="books--item-price">R$ 26,00</span>
            </div>
        </div>
    </div>
</div>
