@* BathroomCount.razor *@
<section class="bathroom--container">
    <div class="bathroom--content-title">
        <img src="./icons/home/roll-icon.svg" alt="Ícone de Papel Higiênico" />
        <h1>Idas ao banheiro</h1>
    </div>
    <div class="bathroom--quantity">
        <span>@count</span>
        <div class="bathroom--quantity-buttons">
            <input type="button" name="plus" value="+" @onclick="Increment" />
            <input type="button" name="less" value="-" @onclick="Decrement" />
        </div>
    </div>
</section>

@code {
    private int count = 4;

    private void Increment()
    {
        count++;
    }

    private void Decrement()
    {
        if (count > 0)
            count--;
    }
}
