 <section class="meals--section">

        <div class="meals--container">
            <div class="meals--container-title">
                <img src="./icons/home/restaurant-icon.svg" alt="" />
                <h1>Refeições</h1>
            </div>

            <div class="meals--container-time">
                <span>Hoje, 02</span>
                <img src="./icons/home/arrow-icon.svg" alt="" />
            </div>
        </div>

        <div class="meal--container">
            <div class="meal--container-item">
                <div class="meal--container-details">
                    <div class="meal--details-time">
                        <img src="./icons/home/clock-icon.svg" alt="" />
                        <span>09:00</span>
                    </div>

                    <div class="meal--details-item">
                        <h1>Café da manhã</h1>
                        <p>Ovos com pão integral e salada de...</p>
                    </div>
                </div>
                <span class="calories">325 kcal</span>
            </div>

            <div class="meal--container-item">
                <div class="meal--container-details">
                    <div class="meal--details-time">
                        <img src="./icons/home/clock-icon.svg" alt="" />
                        <span>12:00</span>
                    </div>

                    <div class="meal--details-item">
                        <h1>Almoço</h1>
                        <p>Arroz, feijão, carne de panela, sala...</p>
                    </div>
                </div>
                <span class="calories">325 kcal</span>
            </div>
        </div>
    </section>