/* HydrationActivities.razor.css */

/* Estilos espec�ficos para o componente HydrationActivities */
.hydration--container {
    display: flex;
    justify-content: space-between;
    margin: .75rem 1.25rem;
    gap: .25rem;
}

.hydration--content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1rem 1rem 0 0;
    background-color: #EBF5FF;
    border-radius: 26px;
    text-align: center;
}

    .hydration--content img {
        object-fit: cover;
        border-radius: 26px;
        max-width: 4.5rem;
    }

.hydration--meta-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: .75rem;
}

.hydration--meta-quantity {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 2rem;
    color: #0094FF;
    white-space: nowrap;
}

.hydration--meta-drinked {
    display: block;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1rem;
    color: #176AA7;
    margin: .25rem 0 .1rem 0;
}

.hydration--meta-item {
    display: inline-block;
    align-items: center;
    background: #B9E2FF;
    border-radius: 6px;
    min-width: 4.5rem;
    margin-top: .25rem;
}

    .hydration--meta-item img {
        width: 10px;
    }

    .hydration--meta-item span {
        font-size: .75rem;
        font-weight: 500;
        line-height: 1rem;
        color: #4CA8EB;
        margin: 0 0 0 .25rem;
    }

.activities--content {
    display: flex;
    justify-content: center;
    width: 100%;
    background: url("./icons/home/hearth-background.svg") no-repeat bottom left #FFC9AA;
    background-size: 55%;
    padding: .5rem .75rem .5rem 0;
    border-radius: 26px;
}

    .activities--content ul {
        padding-left: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin: .5rem auto 0 auto;
        list-style-type: none;
    }

    .activities--content li {
        display: flex;
        align-items: center;
        gap: .25rem;
        font-size: .875rem;
        font-weight: 500;
        line-height: 1rem;
        color: #C74B00;
        white-space: nowrap;
    }

.activities--item {
    margin-left: .65rem;
    max-width: 8.5rem;
}
