@* HydrationActivities.razor *@
<section class="hydration--container">
    <div class="hydration--content">
        <img src="./icons/home/bottle-icon.svg" alt="Ícone de Garrafa" />
        <div class="hydration--meta-container">
            <span class="hydration--meta-quantity">2 litros</span>
            <span class="hydration--meta-drinked">6 litros</span>

            <div class="hydration--meta-item">
                <img src="./icons/home/glass-icon.svg" alt="Ícone de Copo" />
                <span>6 Água</span>
            </div>

            <div class="hydration--meta-item">
                <img src="./icons/home/cup-icon.svg" alt="Ícone de Xícara" />
                <span>3 Chá</span>
            </div>
        </div>
    </div>
    <div class="activities--content">
        <ul>
            <li class="activities--item">
                <img src="./icons/home/checked-icon.svg" alt="Ícone Marcado" />
                <span>2 Massagem</span>
            </li>
            <li class="activities--item">
                <img src="./icons/home/checked-icon.svg" alt="Ícone Marcado" />
                <span>2 Vaporização</span>
            </li>
            <li class="activities--item">
                <img src="./icons/home/checked-icon.svg" alt="Ícone Marcado" />
                <span>1 Raspagem</span>
            </li>
        </ul>
    </div>
</section>
