@page "/"
@using Microsoft.AspNetCore.Authorization

<div class="container">
    <!-- Meals Section -->
    <HomeMeals />

    <!-- Hydration and Activities Section -->
    <HydrationActivities />

    <!-- Bathroom Count Section -->
    <BathroomCount />

    <!-- Menstrual Cycle Section -->
    <MenstrualCycle />
</div>
