/* Index.razor.css */

/* Estilos gerais da p�gina */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    background-color: #FFFAF5;
    height: calc(100vh - 82px);
    overflow: scroll;
    overflow-x: hidden;
}
