@* MenstrualCycle.razor *@
<section class="cycle--container">
    <div class="cycle--content">
        <div class="cycle--content-title">
            <img src="./icons/home/flower-icon.svg" alt="Ícone de Flor" />
            <h1>Ciclo menstrual</h1>
        </div>
        <span class="cycle--status">Último ciclo</span>
        <span class="cycle--info">Há 14 dias</span>
    </div>
    <div class="cycle--period">
        <span class="cycle--period-quantity">02</span>
        <span class="cycle--period-status">Período Fértil</span>
    </div>
</section>
