.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    padding: 0 20px;
    font-family: Arial, sans-serif;
    height: 100%;
}

     .description {
        width: 17rem;
        font-size: .875rem;
        font-weight: 400;
        line-height: 18px;
        color: #737373;
        margin-bottom: .5rem;
    }

h3 {
    font-size: 20px;
    font-weight: bold;
    color: #1e90ff;
    margin-bottom: 10px;
}


.food-list {
    width: 100%;
    height: 100%;
    max-width: 300px;
    overflow: auto;
    overflow-x: hidden;
}

.food-item {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    font-size: 16px;
    color: #333;
    border-bottom: 1px solid #E3E3E3;
}
.food-item span{
    text-align:left;
}

.food-item:last-child {
        border-bottom: none;
    }

    .food-item span:last-child {
        color: #00c4b3;
    }

.add-button {
    width: 17rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 3rem;
    background-color: #D6FFF1;
    color: #08CC8B;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    gap: 5px;
}

.add-button img{
    width:1rem;
}

    .add-button:hover {
        background-color: #b3ffd4;
    }
