@using Niu.Nutri.Core.Application.DTO.Aggregates.CommonAgg.Models
@using Niu.Nutri.Livraria.Application.DTO.Aggregates.LivrariaAgg.Requests;
@using Niu.Nutri.Shared.Blazor.Components.Modal

@inherits BaseCadastro<LivrariaMealDTO>

<div class="container">
    <span class="description">Insira os itens do seu prato mais suas medidas para o cálculo automático.</span>

    <div class="food-list">
        @foreach (var item in Model.Foods ?? new())
        {
            <div class="food-item">
                <span>@item.Name</span>
                <span>@item.Quantity gramas</span>
            </div>
        }
    </div>

    <button type="button" class="add-button" @onclick="AddItem"><img src="./icons/popup/plus-icon.svg" alt="" /> Adicionar Item</button>
</div>

<CadastroModal OnFormSubmited="OnValueChanged" Style="z-index:99999" @ref=modal>
    <ChildFragment>
        <Niu.Nutri.WebApp.Client.Pages.T4.LivrariaAgg.LivrariaMealFood.Cadastro.Cadastro Model="livrariaMealFoodDTO" Modal="modal" />
    </ChildFragment>
</CadastroModal>

@code {
    CadastroModal modal { get; set; } = default!;
    LivrariaMealFoodDTO livrariaMealFoodDTO { get; set; } = new LivrariaMealFoodDTO();

    FoodSectionsFragments CurrentView = FoodSectionsFragments.ListView;

    protected override Task OnInitializedAsync()
    {
        this.livrariaMealFoodDTO.LivrariaMealId = this.Model.Id!.Value;
        this.CadastroModalContext.ModalTitle = "Lista de alimentos";
        return base.OnInitializedAsync();
    }
    async Task OnValueChanged(IEntityDTO editContext)
    {
        var model = editContext as LivrariaMealFoodDTO;
    }

    async Task OnValueChanged(EditContext editContext)
    {
        Model.Foods.Add(livrariaMealFoodDTO);
        livrariaMealFoodDTO = new() { LivrariaMealId = this.Model!.Id.Value };
        this.StateHasChanged();
    }

    private async Task AddItem()
    {
        await modal.Open();
    }

    enum FoodSectionsFragments
    {
        ListView,
        Selector
    }
}