@page "/menu-principal"
<h3>Menu Principal</h3>

<!-- Links para funcionalidades principais -->
<a href="/consultas">Consultas</a><br />
<a href="/mensagens">Mensagens</a><br />
<a href="/configuracoes">Configurações</a>
