.form-input-section {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-bottom: 2rem;
}

.form-input-section>fieldset {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.input-error {
    min-height: 24px;
}

.buttons {
  display: flex;
  justify-content: flex-end;
}