@using Niu.Nutri.Shared.Blazor.Components.Layout

@rendermode RenderMode.InteractiveServer

@layout MainLayout
@inherits LayoutComponentBase

<section class="section-login">
    <div class="container-access">
        @Body
    </div>
</section>
