span {
    font-family: "Lexend Deca";
    font-size: 18px;
    color: #676767;
}

.login-container {
    max-width: 546px;
    margin: 0px auto;
}

.login-section {
    display: flex;
    flex-direction: column;
    padding: 3.38rem 1.75rem;
}


.login-buttons,
.login-switch {
    display: flex;
}

.login-links {
    display: flex;
    flex-direction: column;
}

.login-no-account-link {
    margin-top: 2rem;
    display: flex;
    color: var(--text-300, #676767);
    font-family: "Lexend Deca";
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.6875rem;
    /* 150% */
    text-align: center;
    justify-content: center;
    gap: .38rem;
    width: 100%;
}

.login-no-account-link>a {
    color: var(--primary-900, #7079F4);
}

.login-switch {
    display: flex;
    gap: 15px;
    justify-content: space-between;
    align-items: center;
    max-width: 300px;
}

.form-input-section {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.form-input-section>fieldset {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.input-error {
    min-height: 24px;
}


.login-buttons {
    justify-content: space-between;
    margin-top: 1.56rem;
}


.forgot-password-link {
    font-family: "Lexend Deca";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.6875rem;
    /* 168.75% */
    color: var(--text-300);
    justify-content: right;
    text-align: right;
    text-decoration: none;
    margin-left: auto;
    margin-right: 0;
    justify-self: flex-end;
}

.login-section input {
    width: 100%;
}

@media only screen and (max-width: 768px) {

    span,
    a {
        font-size: 16px;
    }

    .login-buttons>.login-switch {
        display: none;
    }

    .forgot-password-link {
        margin-right: auto;
        margin-left: 0;
        text-align: left;
        justify-content: left;
    }
}