.code-inputs {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    width: 100%;
    margin-bottom: 4rem;
}

    .code-inputs input {
        border-radius: 0.9375rem;
        border: 1px solid var(--primary-60, #D3D5FC);
        background: var(--primary-20, #F9FAFF);
        width: 100%;
        object-fit: contain;
        aspect-ratio: 1.2/1.5;

        text-align: center;
        color: var(--primary-900, #7079F4);
        font-family: "Lexend Deca";
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 600;
        line-height: 1.6875rem; /* 112.5% */
    }

.action-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.resend-code {
    color: var(--primary-900, #575FCC);
    font-family: "Lexend Deca";
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.25rem; /* 200% */
}