<header-component></header-component>

<div class="actions--container">
    <div class="actions--content">
        <div class="action"><span>✎</span>Editar</div>
        <div class="action"><span>🗑️</span>Excluir</div>
    </div>
</div>

<div class="book--container">
    <div class="book--content">
        <div class="img"></div>
        <div class="book-details">
            <h1>Ecos do futuro</h1>
            <div class="book-from">
                <span>Editor Intriseca</span> | <span>por Diana Gabaldon e Geni Hirata</span>
            </div>
            <span class="book-price">R$ 24,00</span>
            <div class="book-description">
                lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </div>
        </div>
        <div class="img"></div>
    </div>
</div>
