* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    width: 100%;
    padding: 1rem;
    position: sticky;
    top: 0;
    background-color: var(--background-1);
    z-index: 1000;
}

.header__container {
    max-width: 1120px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.header__container > * {
}


.header__logo {
    width: min-content;
    height: 48px;
    margin: 0 auto;
}

.header__profile {
    display: flex;
    align-items: center;
    gap: 1rem;
}

    .header__profile > .header__profile-avatar {
        background-color: var(--primary-800, #7780F5);
        border-radius: 100%;
        max-width: 48px;
        min-width: 48px;
        height: 48px;
        aspect-ratio: 1/1;
        object-fit: contain;
    }

    .header__profile > .header__profile-name {
        color: var(--text-300, #676767);
        font-family: "Lexend Deca";
        font-size: 1.125rem;
        font-style: normal;
        font-weight: 600;
        line-height: 1.6875rem; /* 150% */
        min-width: fit-content;
    }

.header__links {
    display: flex;
    gap: 1rem;
    align-items: center;
}

    .header__links > a {
        color: var(--text-300, #676767);
        text-align: center;
        /* Paragraph */
        font-family: "Lexend Deca";
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1.5rem; /* 150% */
    }
