	
@using Niu.Living.Users.Application.DTO.Aggregates.UsersAgg.Requests;
@using Niu.Living.Shared.Blazor.Components.Templates.Form
@inherits BaseCadastro<UserDTO>

<div class="container-informations screen">
    <div class="box-inputs">
    <div class="input-secondary">
    
        <div class="input-secondary-item">
			<TextInput Placeholder="Name"
			           @bind-Value:after="OnFormUpdated"
			           @bind-Value="Model.Name" />
			
            <div class="este-campo-obrigatrio-1 valign-text-middle inter-normal-sonic-silver-10px">
                <ValidationMessage For="@(() => Model.Name)"></ValidationMessage>
            </div>
        </div>
    </div>
 
    <div class="input-secondary"> 
        <div class="input-secondary-item">
			
			<BirthDateInputs Label="BirthDate" @bind-Value="this.Model.BirthDate" />

			
            <div class="este-campo-obrigatrio-1 valign-text-middle inter-normal-sonic-silver-10px">
                <ValidationMessage For="@(() => Model.BirthDate)"></ValidationMessage>
            </div>
        </div>
    </div> 
 
    <div class="input-secondary"> 
        <div class="input-secondary-item">
			<TextInput Placeholder="Contact.Email"
					   @bind-Value:after="OnFormUpdated"
                       @bind-Value="Model.Contact.Email" />
            </div>
            <div class="este-campo-obrigatrio-1 valign-text-middle inter-normal-sonic-silver-10px">
                <ValidationMessage For="@(() => Model.Contact.Email)"></ValidationMessage>
        </div>
        <div class="input-secondary-item">
			<TextInput Placeholder="Contact.ContactNumbers"
					   @bind-Value:after="OnFormUpdated"
                       @bind-Value="Model.Contact.ContactNumbers" />
            </div>
            <div class="este-campo-obrigatrio-1 valign-text-middle inter-normal-sonic-silver-10px">
                <ValidationMessage For="@(() => Model.Contact.ContactNumbers)"></ValidationMessage>
        </div>
    </div> 
 
    <div class="input-secondary"> 
<div class="active-grupo">
    <div class="container-text-2"><div class="status-do-grupo valign-text-middle">CanUpdatePassword</div></div>
	<SwitchInput @bind-Value="Model.CanUpdatePassword" />

</div>
 </div>     </div>
</div>

@code {
    [CascadingParameter] BaseMainStepsLayout<UserDTO> layout { get; set; }
    protected override Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            this.StateHasChanged();
        }
        return base.OnAfterRenderAsync(firstRender);
    }
}
