<header-component></header-component>
<div class="container">
    <div class="container--content">
        <h1>Seus livros</h1>
        <div class="book--container">
            <div class="book--content">
                <div class="img--container">
                    <div class="book--img">
                    </div>
                    <div class="title">
                        <h2>Title</h2>
                        <div class="autor"><span>Autor</span> - <span>Editora</span></div>
                    </div>
                </div>
                <span>❌</span>
            </div>
            <div class="book--content">
                <div class="img--container">
                    <div class="book--img">
                    </div>
                    <div class="title">
                        <h2>Title</h2>
                        <div class="autor"><span>Autor</span> - <span>Editora</span></div>
                    </div>
                </div>
                <span>❌</span>
            </div>
            <div class="book--content">
                <div class="img--container">
                    <div class="book--img">
                    </div>
                    <div class="title">
                        <h2>Title</h2>
                        <div class="autor"><span>Autor</span> - <span>Editora</span></div>
                    </div>
                </div>
                <span>❌</span>
            </div>
            <div class="book--content">
                <div class="img--container">
                    <div class="book--img">
                    </div>
                    <div class="title">
                        <h2>Title</h2>
                        <div class="autor"><span>Autor</span> - <span>Editora</span></div>
                    </div>
                </div>
                <span>❌</span>
            </div>
            <div class="book--content">
                <div class="img--container">
                    <div class="book--img">
                    </div>
                    <div class="title">
                        <h2>Title</h2>
                        <div class="autor"><span>Autor</span> - <span>Editora</span></div>
                    </div>
                </div>
                <span>❌</span>
            </div>
            <div class="book--content">
                <div class="img--container">
                    <div class="book--img">
                    </div>
                    <div class="title">
                        <h2>Title</h2>
                        <div class="autor"><span>Autor</span> - <span>Editora</span></div>
                    </div>
                </div>
                <span>❌</span>
            </div>
            <div class="book--content">
                <div class="img--container">
                    <div class="book--img">
                    </div>
                    <div class="title">
                        <h2>Title</h2>
                        <div class="autor"><span>Autor</span> - <span>Editora</span></div>
                    </div>
                </div>
                <span>❌</span>
            </div>

        </div>
    </div>
</div>
