/*Default styles*/

* {
    margin: 0;
    padding: 0;
}

button {
    all: unset;
    cursor: pointer;
    height: fit-content;
}

.buttonSecoundary {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 4px 8px;
    color: #202945;
    transition: 300ms;
}

    .buttonSecoundary:hover {
        color: #C22133;
    }

.divider_h {
    width: 100%;
    height: 1px;
    background-color: #00000020;
}
/*Default styles*/

/*Header*/
header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #202945;
    padding: 8px;
}

.headerContainer {
    width: 100%;
    max-width: 1320px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
}

.headerRight,
.headerLeft {
    flex: 1;
    height: fit-content;
    display: flex;
    align-items: center;
    gap: 16px;
}

.headerRight {
    display: flex;
    justify-content: end;
}

.profileButtonContainer {
    position: relative;
    cursor: pointer;
    z-index: 3;
    display:flex;
    flex-direction:row;
    gap:20px;
    align-content:center;
    justify-content:center;
}

.profileMenu {
    position: absolute;
    top: 100%;
    right: 0;
    border: 2px solid #202945;
    background-color: #FFF;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.profileButtonOutside {
    all: unset;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-color: #00000048;
    z-index: 2;
}

.profileMenuLogout {
    display: flex;
    padding: 4px 8px;
    gap: 8px;
    color: #C22133;
}

.profileButton {
    display: flex;
    align-items: center;
    gap: 4px;
}

    .profileButton img {
        border-radius: 50%;
    }

.username {
    color: black;
    font-size: 16px;
    font-weight: bold;
    padding: 4px 8px;
    cursor: default;
}
/*Header*/


.btn-user-header-container,
.user-header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    background-color: #C22133;
    border-radius: 100px;
    padding: 0.5rem;
    transition: 0.3s;
}

.btn-user-header-container {
    transition: 0.3s;
}

    .btn-user-header-container:hover {
        background-color: #1A1A1A;
        transition: 0.3s;
    }

    .btn-user-header-container:active {
        background-color: #A11629;
    }

.btn-change-user-profile {
    background-color: transparent;
}

.version-name{
    font-weight:normal;
    font-size:8pt;
    color:black;
    padding:5px;
}