@using Niu.Nutri.Livraria.Application.DTO.Aggregates.LivrariaAgg.Requests
@using Niu.Nutri.Core.Application.DTO.Aggregates.CommonAgg.Models
@using Niu.Nutri.Shared.Blazor.Components.Modal
@using Niu.Nutri.Livraria.Enumerations

@inherits BaseCadastro<LivrariaLiquidDTO>

<div class="container">
    <div class="liquid--container">
        <ButtonsGroup ToItemString="@LiquidButtonsTypeExtensions.GetName"
                      ToIconPathString="@LiquidButtonsTypeExtensions.ToImgFilePath"
                      BtnClass="liquidBtn"
                      @bind-Value="Model.Type"
                      T="LiquidType?"
                      OnBtnClick="OnClick"
                      Items="Enum.GetValues<LiquidType>().Select(x=>(LiquidType?)x)" />
    </div>
</div>

@code {
    CadastroModal modal { get; set; } = default!;

    FoodSectionsFragments CurrentView = FoodSectionsFragments.ListView;

    protected override Task OnInitializedAsync()
    {
        this.CadastroModalContext.ModalTitle = "Tipo de Líquido";
        return base.OnInitializedAsync();
    }

    async Task OnClick(LiquidType? type)
    {
        Model.Type = type;

        //await modal.Open();
        await this.InvokeAsync(this.StateHasChanged);
    }

    private async Task AddItem()
    {
        await modal.Open();
    }

    enum FoodSectionsFragments
    {
        ListView,
        Selector
    }

    // async Task OnValueChanged(EditContext editContext)
    // {
    //     var model = editContext.Model as LivrariaLiquidFoodDTO;
    //     if (model != null)
    //     {
    //         Model.Food = model;
    //         Model.Food.Id = Model.Id;
    //     }
    //     else
    //     {
    //         Model.Food = null;
    //     }
    //     await this.InvokeAsync(this.StateHasChanged);
    // }
}