.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #333;
}


.input-group {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: auto;
}

label {
    font-size: 1rem;
    font-weight: 500;
    line-height: 22px;
    text-align: left;
    color: #737373;
    margin-bottom: 10px;
}

.input-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: .5rem;
    margin-top: 2rem;
}

input[type="text"], input[type="number"] {
    border: none;
    outline: none;
    font-size: 16px;
    background-color: transparent;
    width: 100%;
}

input[type="number"] {
    text-align: center;
}

.search-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
    color: #999;
}

.quantity-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

::deep .group-of-buttons {
    gap: 0 !important;
    margin: 2.5rem 0 !important;
}

    ::deep .group-of-buttons button:first-child {
        border-radius: 0.5rem 0 0 .5rem;
    }

    ::deep .group-of-buttons button:last-child {
        border-radius: 0 .5rem .5rem 0;
    }

::deep .mealInput {
    width: 19rem !important;
    padding-right: 3rem !important; /* Espaço para o texto dentro do input */
    border-radius: 0.5rem !important;
    background: #F7F7F7 !important;
    padding: 0.75rem 1rem !important;
    border: none !important;
    box-sizing: border-box !important;
    font-size: 1rem !important;
    font-weight: 500 !important;
    line-height: 22px !important;
    text-align: left !important;
    color: #3A3A3A !important;
}

::deep .liquid-quantity {
    margin-top: 1rem;
    width: 7rem !important;
    min-width: auto !important;
    margin: 0 auto;
    padding-right: 3rem !important; /* Espaço para o texto dentro do input */
    border-radius: 1rem !important;
    background: #F7F7F7 !important;
    padding: 0.75rem 1rem !important;
    border: none !important;
    font-size: 1.5rem !important;
    text-align: center;
    color: #3A3A3A !important;
}
