@using Niu.Nutri.Livraria.Application.DTO.Aggregates.LivrariaAgg.Requests;

@inherits BaseCadastro<LivrariaLiquidDTO>

<div class="container-informations screen">
    <div class="box-inputs">
        <div class="input-secondary">

        </div>
    </div>
</div>

@code {
    [CascadingParameter] BaseMainStepsLayout<LivrariaLiquidDTO> layout { get; set; }
    protected override Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            this.StateHasChanged();
        }
        return base.OnAfterRenderAsync(firstRender);
    }
}
