@inherits LayoutComponentBase

@using Niu.Nutri.Shared.Blazor.Components.Services
@using Niu.Nutri.WebApp.Client.Services;

@inject ThemeManager ThemeManager

<main class="page @(ThemeManager.CurrentTheme)">
    @Body
</main>

@code {
    [Inject] IJSRuntime IJSRuntime { get; set; }

    public async Task ChangeThemeAsync(string themeName)
    {
        await ThemeManager.SetThemeAsync(themeName, IJSRuntime);
        StateHasChanged();
    }

}