.error-messages {
    display: flex;
    flex-direction: column;
    gap: 0.15rem;
    color: #FC676C;
    text-align: center;
    font-family: "Lexend Deca";
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.6875rem; /* 150% */
    margin-bottom: 2rem;
}

    .error-messages p {
        margin: 0 !important;
    }
