@if (ErrorMessages?.Count() > 0)
{
    <div class="error-messages">
        @foreach (string error in ErrorMessages)
        {
            <p>@error</p>
        }
    </div>
}

@code {
    [Parameter] public IEnumerable<string> ErrorMessages { get; set; } = [];

    public void RefreshMe() { InvokeAsync(this.StateHasChanged); }
}
