<div class="page-container @CssStyle">
    <NiuLogo />

    <ErrorList ErrorMessages="this.ErrorsList" />
    <SuccesList SuccessMessages="this.SuccessList" />

    @ChildContent

</div>


@code {
    [CascadingParameter] public IEnumerable<string> ErrorsList { get; set; } = default!;
    [CascadingParameter] public IEnumerable<string> SuccessList { get; set; } = default!;

    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter] public string? CssStyle { get; set; }

    public void RefreshMe() { InvokeAsync(this.StateHasChanged); }
}