.page-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 576px;
    margin: 0 auto;
    padding: 3rem 1.75rem;
}

.login--section {
    display: flex;
    flex-direction: column;
    padding: 3.38rem 1.75rem;
    animation: slideInFromRight 0.5s ease-out;
}

@keyframes slideInFromRight {
    from {
        opacity: 0;
        transform: translateX(100%);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}