@if (SuccessMessages?.Count() > 0)
{
    <div class="success-messages">
        @foreach (string successMessage in SuccessMessages)
        {
            <p>@successMessage</p>
        }
    </div>
}

@code {
    [Parameter] public IEnumerable<string> SuccessMessages { get; set; } = [];

    public void RefreshMe() { InvokeAsync(this.StateHasChanged); }
}
