
.rightcontainer-item-submenu-system {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.rightcontainer-elemento-item-submenu-system {
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px;
    border: 1px solid #d9d9d9;
    border-radius: 3px;
    cursor: pointer;
    transition: 0.5s;
    width: 100%;
}

    .rightcontainer-elemento-item-submenu-system:hover {
        background-color: rgb(140 129 247 / 80%);
        transition: 0.5s;
    }

    .rightcontainer-elemento-item-submenu-system.active {
        background-color: rgb(140, 129, 247, 30%);
        transition: 0.5s;
    }

.arrows-container {
    font-size: 24pt;
    font-weight: bold;
    display: flex;
    gap: 10px;
    max-width: 50px;
    max-height: 50px;
}

    .arrows-container .bi {
        cursor: pointer;
        height: 40px;
        width: 40px;
    }

        .arrows-container .bi:hover {
            color: #C22133;
        }

.subitem-container {
    display: flex;
    gap: 10px;
    align-items:center;;
}

